#root {
	max-width: 1280px;
	border-radius: 1rem;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	background: rgb(238, 174, 202);
	background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.card {
	padding: 3em;
	border-radius: 1rem !important;
	background: linear-gradient(
		0deg,
		rgba(34, 167, 195, 0.927608543417367) 25%,
		rgba(253, 187, 45, 1) 94%
	);
	width: 19rem !important;
	height: 15rem !important;
}

.read-the-docs {
	color: #888;
}

.stopwatch_css .h2 {
	padding-top: 2rem;
}

.stopwatch_container {
	display: flex;
	justify-content: center;
	column-gap: 2rem;
	padding-top: 4rem;
}

.stopwatch_container > button {
	box-shadow: gray 2px 2px;
}
